.wrapper{
  position: relative;
  display: inline-block;
  max-width: 455px;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.title{
  position: relative;
  left: 20px;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  padding: 7px 29px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 20px 20px 0 0;
  background: #587099;
}
.form{
  padding: 25px 15px;
  border: 1px solid #000000;
  background: #587099;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.button{
  cursor: pointer;
  padding: 10px 30px;
  background: #3F5677;
  text-transform: uppercase;
  font-size: 11px;
  border: 0;
  color: white;
  border-radius: 20px;
}
.error{
  display: none;
  margin-bottom: 30px;
  color: rgba(255, 0, 0, 0.86);
}
.active{
  display: block;
}